@font-face {
    font-family: "Myriad-Light";
    src: local("Myriad-Light"), url("../assets/fonts/myriad/Myriad-Pro-Light.otf") format("opentype");
}
@font-face {
    font-family: "Myriad-Regular";
    src: local("Myriad-Regular"), url("../assets/fonts/myriad/Myriad-Pro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Myriad-Bold";
    src: local("Myriad-Bold"), url("../assets/fonts/myriad/Myriad-Pro-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Myriad-Black";
    src: local("Myriad-Black"), url("../assets/fonts/myriad/Myriad-Pro-Black.otf") format("opentype");
}
